h1
{
	
	display:block;
	font-family:"Verdana", Helvetica, sans-serif;
	background-color:#111;
	opacity:0.6;
	width:100%;
	position:absolute;
	bottom:0px;
	
	text-align: center;
	color:#ddd;
	display: block;
	text-shadow:#000 -1px 1px 0,
	#000 -1px 1px 0,
	#000 -1px 1px 0,
	#000 -1px 1px 0;
}
